---
layout: baselayout.njk
title: Scott J Finkel
---
{% include 'homelink.njk' %}

<h1>About Me</h1>

<section class="two-col-grid-container">
  <div class="a"><h2>How I got here</h2></div>
  <div class="b">
    <h3>Curiosity</h3>
    <p />
    <p>
        I built models as a kid because I liked to see how things fit together. I took up creative writing in college for the same reason, and graduated with honors. I am a student of music, art, and design in all forms.
    </p>
    
    <sl-divider></sl-divider>

    <h3>Learning</h3>
    <p />
    <p>
      My web journey started with HTML in 1997. Then it was CSS and JavaScript. The web promotes a lifelong learning mindset, which has led me to produce sites and apps in ASP, JSP, PHP, React, Typescript, and many more frameworks that support the web today.
    </p>
    
     <sl-divider></sl-divider>
    
    <h3>Design</h3>
    
    <p />
    <p>
      Prior to the web, I worked in Training and Documentation, where it was easy to see how poor design and communication could have direct consequences on real-world outcomes. 
       As the web's capabilities grew beyond static sites, systems programmers led the way and it quickly became clear; the world needed more good interface designers to facilitate human-computer interactions. 
    </p>

    <sl-divider></sl-divider>

    <h3>Front-End Engineering</h3>
   
    <p>
       A secure extranet document exchange system. A touch-screen enterprise social experiment in five countries across three continents. 
      Scanning analysis review software built to protect valuable intellectual property amidst open source license concerns. 
      A declarative software composition application, which allows engineers and legal staff to establish reusable component trees for entire families of product releases. 
      These are just a few of the dozens of enterprise apps I've contributed to.
    </p>


  </div>

  <div class="c"><h2>Want to learn more?</h2></div>
  <div class="d">
    <a href="/">
        <sl-button variant="primary" outline>Home</sl-button>
    </a>
    <a href="/resume">
        <sl-button variant="primary" outline>Résumé</sl-button>
    </a>
    <a href="/projects">
        <sl-button variant="primary" outline>Projects</sl-button>
    </a>
  </div>
  {% include 'contact.njk' %}
</section>