---
layout: baselayout.njk
title: Scott J Finkel
---
{% include 'homelink.njk' %}

<h1>About Me</h1>

<section class="two-col-grid-container">
  <div class="a"><h2>How I got here</h2></div>
  <div class="b">
    <h3>Curiosity</h3>
    <p class="merriweather-sans-light h3-tagline">I have an inquisitive nature.</p>
    <p />
    <p>
        I built models as a kid because I liked to see how things fit together. I took up creative writing in college for the same reason, and graduated with honors. I like to take things apart and put them back together again. I am a student of music, art, and design in all forms.
    </p>
    
    <hr size="1" />

    <h3>Learning</h3>
    <p class="merriweather-sans-light h3-tagline">If you're not learning, you're not growing.</p>
    <p />
    <p>
      Questioning leads to learning - I am not often satisfied with the answer, &quot;Because that's the way we've always done it.&quot; I am a creative problem-solver and multi-faceted thinker who enjoys the practice of learning how things work.
    </p>
    
    <hr size="1" />
    
    <h3>Design</h3>
    <p class="merriweather-sans-light h3-tagline">The vision it takes to step back and imagine a result without the picture on the box.</p>
    <p />
    <p>
      Prior to the web, I worked in Training and Documentation. Poor design in these disciplines had horrible consequences, both in the restaurant industry and defense contracting.
       As the web's capabilities grew beyond static sites, systems programmers led the way and it quickly became clear; the world needed more good designers to facilitate human-computer interactions. 
    </p>

    <hr size="1" />

    <h3>Front-End Engineering</h3>
    <p class="merriweather-sans-light h3-tagline">I have built a successful career on intuitive, scalable interfaces for web applications.</p>
    <p>
       A secure extranet document exchange system. A touch-screen enterprise social experiment in five countries across three continents. 
      Scanning analysis review software built to protect valuable intellectual property amidst open source license concerns. 
      A declarative software composition application, which allows engineers and legal staff to establish reusable component trees for entire families of product releases. 
      These are just a few of the dozens of enterprise apps I've contributed to.
    </p>
    
  </div>

  <div class="c"><h2>Want to learn more?</h2></div>
  <div class="d">
    <a href="/">
        <sl-button variant="primary" outline>Home</sl-button>
    </a>
    <a href="/resume">
        <sl-button variant="primary" outline>Résumé</sl-button>
    </a>
    <a href="/examples">
        <sl-button variant="primary" outline>Examples</sl-button>
    </a>
  </div>
  {% include 'contact.njk' %}
</section>