$primary-color: #4c4b4b;
$sans: 'Merriweather Sans', "Helvetica Neue", Helvetica, Arial, sans-serif;
$serif: 'Martel Light', Palatino, Georgia, serif;

.merriweather-sans-light {
  font-family: "Merriweather Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 300;
  font-style: normal;
}

/*
* Map for breakpoints
*/
$breakpoints: (
  "small": 320px,
  "medium": 795px,
  "large": 960px,
); 

@mixin responsive($size) {
  $query: map-get($breakpoints, $size);
    @media (min-width: $query) {
      @content;
  }
}

body {
  font-family: $serif;
  color: $primary-color;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  max-width: clamp(320px, 90%, 800px);
  margin: auto;

  @include responsive('small') { 
    margin: 0.75rem 3%;
    font-size: 85%;
  }
  @include responsive('medium') {
    margin: 1rem 5%;
    font-size: 95%;
  }
  @include responsive('large') {
    margin: 2rem 20%; 
    font-size: 100%;
  }

}

.homelink sl-icon {
  color: var(--sl-color-primary-300);
  font-size: 28px;
  padding-left: 4px;
  margin-bottom: 0;
  margin-top: 3px;
}

.bigdot {
  background-color: var(--sl-color-primary-600);
  border-radius: 9999px;
  width: 2.33rem;
  height: 2.33rem;
  margin-bottom: 3.5rem;
}

.title-wrapper {
  display: grid;
  grid-template-columns: 65% auto;
  border-bottom: 4px double lighten($primary-color, 30%);
  position: sticky;
  position: -webkit-sticky;
  top: 0;
  background-color: white;
}

.title-text {
  grid-column: 1/2;  
  font-family: $sans;
  font-weight: 700;
  margin-bottom: 0;

  @include responsive('small') { 
    font-size: 1.66rem;
  }
  @include responsive('medium') { 
    font-size: 2.25rem;
  }
  @include responsive('large') { 
    font-size: 2.83em;
  }
}

.title-icon-links {
  grid-column: 2/2;
  text-align: right;

  @include responsive('small') { 
    font-size: 1.5rem;
    margin-top: 0.25rem;
  }
  @include responsive('medium') { 
    font-size: 1.75rem;
    margin-top: 0.5rem;
  }
  @include responsive('large') { 
    margin-top: 0.66em;
    font-size: 1.83rem;
  }
}

h1 {
  letter-spacing: -0.05em;

  @include responsive('small') { 
    font-size: 2rem;
    line-height: 110%;
    margin-bottom: 0;
  }
  @include responsive('large') { 
    font-size: 3rem;
    line-height: 125%;
    // margin-top: 0;
    margin-bottom: 1rem;
  }
}

.heading2 {
  font-family: $sans;
  font-variant: small-caps;
  font-size: 1.2rem;
  font-weight: 700;
  margin: 1.5em 0 0.8em 0;
  border-bottom: 1px solid lighten($primary-color, 30%);
}

h2 {
  letter-spacing: -0.05em;
  line-height: 2rem;

}

h3 {
  line-height: 1.5rem;
}

.title-subheading {
  margin-top: 0;
}

.company, .projectdescription {
  margin-bottom: 0.5em;
}

.projectdescription {
  margin-top: 0.33em;
}

.titletenure {
  display: flex;
  justify-content: space-between;
}

.title, .tenure { 
  font-family: "Merriweather Sans", sans-serif;
  font-weight: 700;
  margin: 0;
}

.rolebullet {
  margin-top: 0.5em;
}

.core-competencies {
  text-align: center;
  margin-top: 2em;
  font-family: $sans;
}

.profile-text {
  font-size: 1.1em;
  line-height: 1.33em;
  margin: 0.66em 0 1.5em 0;
}

p {
  margin: 0;
}

a, a:visited {
  text-decoration: none;
  color: var(--sl-color-primary-600);
}

a:hover { color: var(--sl-color-primary-400); }

ul {
  padding-inline-start: 1.5em;
  margin-top: 0.33em;
  margin-bottom: 1.25em;
}

li {
  margin-bottom: 0.33em;
}

.footer-resume {
  margin-top: 2em;
  padding: 0.5em 0;
  border-top: 1px solid lighten($primary-color, 60%);
  color: lighten($primary-color, 40%);
  font-family: $sans;
  font-weight: 300;
  display: grid;
  grid-template-columns: 25% auto;

  .footer-left {
    grid-column: 1/2;  

  }
  .footer-right {
    grid-column: 2/2;  
    text-align: right;
    font-size: smaller;

    a {
      color: lighten($primary-color, 40%);
    }

    a:visited {
      color: lighten($primary-color, 40%);
    }

    a:hover {
      text-decoration: underline;
    }
  }
}


.buttonbar {
  width: 100%;
  text-align: right;
  margin-bottom: 2em;
}

.two-col-grid-container {
  display: grid;

  @include responsive('small') { 
    grid-template-columns: 1fr;
    grid-template-areas:
      "a"
      "b"
      "c"
      "d"
      "e"
      "f";
  }
  @include responsive('medium') { 
    grid-template-columns: 1fr 3fr;
    grid-gap: 3.5em;
    grid-template-areas:
      "aa bb"
      "a b"
      "c d"
      "e f";
  }

  .a {
    @include responsive('small') { 
      padding: 0;
      margin: 0;
    }
    @include responsive('medium') { 
      min-width: 250px;
    }

  }

  .bb, .b, .d, .f {
    @include responsive('small') { 
      padding-top: 0;
    }
    @include responsive('medium') { 
      padding-top: 1.33rem;
    }


    h3, p {
      margin: 0;
    }

    h3 {
      font-family: $sans;
      font-size: 1.1rem;
      padding-top: 0.5rem;
    }

    .h3-tagline {
      padding-bottom: 0.5rem;
      font-style: italic;
    }

    p {
      color: rgb(91, 91, 91);
      font-family: "Merriweather Sans", sans-serif;
      font-weight: 300;
      font-style: normal;
      font-size: 0.9rem;
      line-height: 1.2rem;
    }

    hr {
      color: lightgray;
      margin-top: 1.2rem
    }
  }
}

.note {
  color: rgb(121, 121, 121);
  line-height: 1.2rem;
}

.footer {
  text-align: center;
  margin-top: 3em; 
  color:rgb(121, 121, 121);
  font-size: small;
}

.contact-info {
  color: #4a90e2;
  font-size: 1.75rem;
  margin-top: -0.25rem;
}


  .resume-two-col-grid-container {
    display: grid;
  
    @include responsive('small') { 
      grid-template-columns: 1fr;
      grid-template-areas:
        "a"
        "b"
        "c"
        "d"
        "e"
        "f"
        "g"
        "h"
        "i"
        "j"
        "k"
        "l";
    }
    @include responsive('medium') { 
      grid-template-columns: 20% 73%;
      grid-gap: 3.5em;
      grid-template-areas:
        "a b"
        "c d"
        "e f"
        "g h"
        "i j"
        ;
    }
  
    .a {
      @include responsive('small') { 
        padding: 0;
        margin: 0;
      }
      @include responsive('medium') { 
        max-width: 150px;
      }
  
    }
  
    .b, .d, .f, .h, .j, .l {
      @include responsive('small') { 
        padding-top: 0;
      }
      @include responsive('medium') { 
        padding-top: 1.33rem;
      }
  
  
      h3 {
        margin: 0;
      }
  
      h3 {
        font-family: $sans;
        font-size: 1.1rem;
        padding-top: 0.5rem;
      }
  
      .h3-tagline {
        padding-bottom: 0.5rem;
        font-style: italic;
      }
  
      p {
        color: rgb(91, 91, 91);
        font-family: "Merriweather Sans", sans-serif;
        font-weight: 300;
        font-style: normal;
        font-size: 0.9rem;
        line-height: 1.2rem;
      }
  
      hr {
        color: lightgray;
        margin-top: 1.2rem
      }
    }
  }

  .case-study-note {
    background-color: rgb(251, 237, 179);
    padding: 0.5rem 1.5rem;
    color: rgb(139, 88, 6);
    line-height: 1.33rem;
  }