---
layout: baselayout.njk
title: Scott J Finkel
---
{% include 'homelink.njk' %}

<section>
<h1>Case Study: License Analyzer</h1>

<h2>The Problem</h2>
<p>As Open Source is increasingly used to build modern software, license concerns can affect proprietary development. License Analyzer's goal is to answer the question, <strong>&quot;What licenses are present in my product?&quot;</strong> This allows product owners to mitigate an unfriendly license terms or considerations prior to launch.</p>
<section style="margin: 1rem 0">
    <p>Input: package.json</p>
    <p>Output: Visualization of metadata, license(s), version(s), and links for further exploration as needed.</p>
    <br/>
    <img src="/images/pkgjson-viz-1.png" width="800">
    <br/>
    <br/>
<!--
        <a href="./la/">
            <sl-button variant="secondary" small>
                <strong>License Analyzer</strong>
            </sl-button>
        </a>
-->
    <p class="case-study-note">🤖 Sample application coming soon!</p>

    <br/>


<section class="two-col-grid-container">
  <div class="e"><h2>Want to learn more?</h2></div>
  <div class="f">
    <a href="/">
        <sl-button variant="primary" outline>Home</sl-button>
    </a>
    <a href="/resume">
        <sl-button variant="primary" outline>Résumé</sl-button>
    </a>
    <a href="/about">
        <sl-button variant="primary" outline>About Me</sl-button>
    </a>
    <a href="/projects">
        <sl-button variant="primary" outline>Projects</sl-button>
    </a>
  </div>

    {% include 'contact.njk' %}
</section>

