---
layout: baselayout.njk
title: Scott J Finkel
---
{% include 'homelink.njk' %}

<section>
<h1>Case Study: Package Analyzer</h1>

<h2>The Problem</h2>
<p>Open Source packages are increasingly used to build modern software. Licenses can conflict with one another, and as such it is important to understand package composition from a licensing perspective. Enter <strong>Package Analyzer</strong>—a tool designed to answer the question, <em>&quot;What licenses are present in my product?&quot;</em></p>
<section style="margin: 1rem 0">
    <p>Input: package.json</p>
    <p>Output: Visualization of metadata, license(s), version(s), and links for further exploration as needed.</p>
    <br/>
    <img src="/images/pkgjson-viz.png" width="800">
    <br/>
    <h2>The Process</h2>
<p>The initial plan was to employ a textarea for JSON input, and then fetch dependency data from npm for tabular display and license breakdown in a graphical format. This approach allowed users to paste in their package.json file and see the results. However, during the testing phase a couple of UX challenges were observed:</p>
<ul>
    <li>The friction of having to open the file and manually select the contents is unnecessary.</li>
    <li>The JSON is sometimes large and complex, and there was a tendency to become distracted by the way the formatting got mangled in the textarea.</li>
</ul>

<p>To address these concerns, a simplified file-input approach that allows users to select a package.json file for upload was implemented. This approach is faster and more intuitive, and removed the distractions of formatting and the unnecessary step of selecting thefile contents from the flow.</p>
<br/>
<p>Includes small touches to enhance the user experience: basic error handling, ability to load an example if no file is selected, a count of dependencies, and column sorting where it makes sense (Author, License, Name).</p>
<br/>
<h2>The Solution</h2>
<h3>Try it out:&nbsp;&nbsp;

<sl-button href="https://package-analyzer-sjf.netlify.app/" target="_blank" variant="success" size="small">
    <sl-icon slot="suffix" name="box-arrow-up-right"></sl-icon>
    Launch Package Analyzer 
</sl-button>

</h3>
    <img src="/images/pa-result.jpg" width="800">

    



<section class="two-col-grid-container">
  <div class="e"><h2>Want to learn more?</h2></div>
  <div class="f">
    <a href="/">
        <sl-button variant="primary" outline>Home</sl-button>
    </a>
    <a href="/resume">
        <sl-button variant="primary" outline>Résumé</sl-button>
    </a>
    <a href="/about">
        <sl-button variant="primary" outline>About Me</sl-button>
    </a>
    <a href="/projects">
        <sl-button variant="primary" outline>Projects</sl-button>
    </a>
  </div>

    {% include 'contact.njk' %}
</section>

