<div class="title-wrapper">
    <div class="title-text">
        <a href="../">{{ title }}</a>
    </div>
    <div class="title-icon-links">
        <a href="https://github.com/finkelscott" class="icon-link">
            <i class="icon-github-squared"></i>
        </a>
        <a href="https://www.linkedin.com/in/scottfinkel/" class="icon-link">
            <i class="icon-linkedin-squared"></i>
        </a>
        <a href="mailto:scottjfinkel@gmail.com" class="icon-link">
            <i class="icon-mail-squared"></i>
        </a>
    </div>
</div>