<div class="footer-resume">
    <span class="footer-left">
        <a href="../">{{ title }}</a>
    </span>
    <span class="footer-right">
        <a href="https://github.com/finkelscott">GitHub</a>
        •
        <a href="https://www.linkedin.com/in/scottfinkel/">LinkedIn</a>
        •
        <a href="mailto:scottjfinkel@gmail.com">E-Mail</a>
        •
        <a href="https://www.upwork.com/freelancers/~010bf56ee8f2139f96">Upwork</a>
        •
        <a href="ScottJFinkel.docx">Download</a>
    </span>
</div>