<section class="footer">
    <p>This site was built with
        <a href="https://www.11ty.dev/" target="_blank">11ty</a>
        &amp;
        <a href="https://shoelace.style/" target="_blank">Shoelace</a>. &copy; Scott J Finkel 2024. All Rights Reserved.
    </p>
</section>